.nav{
    width: 100vw;
    height:100px;
    background-color:#808B96  ;

}
.button{
    border-radius: 8px;
    background-color: black;
    color: whitesmoke;
    border: none;
    position: relative;
    top: -5px;
    padding: 10px 30px;
    display: inline-block;
}
.container{
    width: 100vw;
    padding: 2%;
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
    
}
.title{
    color: aliceblue;
}